
html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   overflow: hidden;
   place-items: center;
}
p{
   font-size: medium;
}
.container{
margin-top: 30px;
justify-content: center;
align-items: center;
display: flex;

}

#diaDeHoy{
   margin-left: 80px;
   color: #3e3e40;
   font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fondo{
   position: absolute; 
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('imagen/fondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    z-index: -1;
}
.principal {
   position: relative; 
   padding: 20px;
 }
 #montoActual {
   position: fixed; 
   bottom: 20px; 
   right: 20px; 
   background-color: rgba(0, 0, 0, 0.8); 
   color: white; 
   padding: 10px; 
   z-index: 1000; /
}

.consulta{
   

display:inline;


}
.tituloCard{
   bottom: 20px;
   right: 20px;
   padding: 10px;
   text-decoration: underline;
}